body {
    padding-top: 5rem;
}

#container-imgs {
    /*padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: auto;
    align-items: initial;
    align-content: start*/
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: minmax(300px, auto);
    column-gap: 5px;
}

/*#content-img {
    flex: 0 0 auto;
    margin: 2px;
}*/

img {
    /*
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 150px;
    height: 150px;
    max-width:50%;
    max-height:50%;
    /*height: auto;
    width:auto;*/
    max-width:400px;
    max-height:300px;
    height: auto;
    width:auto;
}