body {
    padding-top: 5rem;
}

#container-imgs {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: minmax(300px, auto);
    column-gap: 5px;
}

img {
    max-width:400px;
    max-height:300px;
    height: auto;
    width:auto;
}